<h2 style="color:red">Respuestas Tarea 1</h2>

1. Realiza una consulta a la base de datos `nabla_python` por medio de `pymysql`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.

In [10]:
import pymysql
from pymysql.cursors import DictCursor

In [11]:
# Creamos nueva conección y seleccionamos base de datos a conectarnos
def conn():
    return pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password="maquina271",
                       database="nabla_python",
                       charset="utf8",
                       cursorclass=DictCursor)

In [12]:
#Se realiza la consulta 
query="""
SELECT status, COUNT(status) AS count_status
FROM orders
GROUP BY status;
"""
#Se busca en la base de datos
with conn().cursor() as cursor:
    cursor.execute(query)
    status_count = cursor.fetchall()

#Se imprime la busqueda    
print("Estatus y las repeticiones\n")
for st in status_count:
    print(st["status"], "--> ", st["count_status"])

Estatus y las repeticiones

Shipped -->  303
Resolved -->  4
Cancelled -->  6
On Hold -->  4
Disputed -->  3
In Process -->  6

----

2. Realiza una consulta a la base de datos `nabla_python` por medio de `pymysql`: encuentra los 10 clientes `customerName` que más han comprado en la tienda. La tabla resultante deberá estar ordenada de mayor a menor con `customerName` y `expenses` como la columna en dónde se encuentre el monto gastado en la tienda. (**hint**: considera las tablas `customers` y `payments`)

In [13]:
import pymysql
from pymysql.cursors import DictCursor

In [14]:
#Se realiza la consulta 
query2 = """
SELECT customerName, SUM(amount) AS expenses
FROM customers
JOIN payments
ON payments.customerNumber = customers.customerNumber
GROUP BY customerName
ORDER BY expenses DESC;
"""
#Se busca en la base de datos
with conn().cursor() as cursor:
    cursor.execute(query2)
    monts = cursor.fetchmany(10)

#Se imprime la busqueda     
print("Nombre del ciente  y las compras realizadas\n")
for mont in monts:
    print(mont['customerName'], "-->",mont['expenses'], sep=("  "))

Nombre del ciente  y las compras realizadas

Euro+ Shopping Channel  -->  715738.98
Mini Gifts Distributors Ltd.  -->  584188.24
Australian Collectors, Co.  -->  180585.07
Muscle Machine Inc  -->  177913.95
Dragon Souveniers, Ltd.  -->  156251.03
Down Under Souveniers, Inc  -->  154622.08
AV Stores, Co.  -->  148410.09
Anna's Decorations, Ltd  -->  137034.22
Corporate Gift Ideas Co.  -->  132340.78
Saveley & Henriot, Co.  -->  130305.35

----

3. Escribe una consulta que, para cada producto comprado muestre la clave del cliente `customerNumber` y el código del producto `productCode`. Obten los primeros 10 valores

In [15]:
#Se realiza la consulta
query3 = """
SELECT customerNumber, productCode
FROM orders
JOIN orderdetails
ON orders.orderNumber = orderdetails.orderNumber;
"""

#Se busca en la base de datos
with conn().cursor() as cursor:
    cursor.execute(query3)
    products = cursor.fetchmany(10)

#Se imprime la busqueda
print("CustomerNumber  ProductCode\n")
for product in products:
    print("    ", product['customerNumber'],product['productCode'], sep=('     '))

CustomerNumber  ProductCode

         103     S18_1589
         103     S18_2870
         103     S18_3685
         103     S24_1628
         103     S10_2016
         103     S18_2625
         103     S24_2022
         112     S18_1749
         112     S18_2248
         112     S18_2325

---

4. En base al ejercicio anterior, reemplaza `productCode` por `productName`. **HINT**: El comando `WITH` nos ayuda a crear una tabla temporal:

```SQL
WITH t1 as (
    SELECT ...
    )
SELECT t1.ci, t2.cj
FROM t2
JOIN t1 ON t1.cx = t2.cx
```

In [16]:
#Se realiza la consulta
query4 = """
WITH t1 as( 
    SELECT productCode, customerNumber
    FROM orderdetails
    JOIN orders
    ON orders.orderNumber = orderdetails.orderNumber
    ),
    
    t2 as(
    SELECT productCode, productName
    FROM products
)
SELECT t1.customerNumber, t2.productName
FROM t1
JOIN t2
ON t1.productCode=t2.productCode;
"""
#Se busca la información en la base
with conn().cursor() as cursor:
    cursor.execute(query4)
    product_names = cursor.fetchmany(10)

#Se imprime la busqueda
print("CustomerNumber  ProductName\n")
for product_name in product_names:
    print("    ", product_name['customerNumber'],product_name['productName'], sep=('     '))

CustomerNumber  ProductName

         103     1965 Aston Martin DB5
         103     1999 Indy 500 Monte Carlo SS
         103     1948 Porsche Type 356 Roadster
         103     1966 Shelby Cobra 427 S/C
         103     1996 Moto Guzzi 1100i
         103     1936 Harley Davidson El Knucklehead
         103     1938 Cadillac V-16 Presidential Limousine
         112     1917 Grand Touring Sedan
         112     1911 Ford Town Car
         112     1932 Model A Ford J-Coupe

---

5. En base al ejercicio anterior, reemplaza `customerNumber` por `customerName`

In [17]:
#Se realiza la consulta
query5 = """
SELECT customers.customerName, products.productName
FROM customers
inner JOIN orders on customers.customerNumber=orders.customerNumber
inner JOIN orderdetails on orders.orderNumber=orderdetails.orderNumber
inner JOIN products on orderdetails.productCode=products.productCode
;"""

#Se busca en la base de datos
with conn().cursor() as cursor:
    cursor.execute(query5)
    customer_names = cursor.fetchmany(10)

#Se imprime la consulta
print("CustomerName           ProductName\n")
for customer_name in customer_names:
    print(customer_name['customerName'],customer_name['productName'], sep=('     '))

CustomerName           ProductName

Atelier graphique     1965 Aston Martin DB5
Atelier graphique     1999 Indy 500 Monte Carlo SS
Atelier graphique     1948 Porsche Type 356 Roadster
Atelier graphique     1966 Shelby Cobra 427 S/C
Atelier graphique     1996 Moto Guzzi 1100i
Atelier graphique     1936 Harley Davidson El Knucklehead
Atelier graphique     1938 Cadillac V-16 Presidential Limousine
Signal Gift Stores     1917 Grand Touring Sedan
Signal Gift Stores     1911 Ford Town Car
Signal Gift Stores     1932 Model A Ford J-Coupe

----

6. En base al ejercicio 3, encuentra el nombre del producto `productName` y cuantas unidades se han comprado de ese producto. Ordena los elementos de mayor a menor.

In [18]:
#Se realiza la consulta
query6 = """
SELECT productName, SUM(quantityOrdered) as units
FROM orders
inner JOIN orderdetails on orders.orderNumber=orderdetails.orderNumber
inner JOIN products on orderdetails.productCode=products.productCode
GROUP BY productName
ORDER BY units DESC;

"""
#Se realiza la consulta en la base de datos
with conn().cursor() as cursor:
    cursor.execute(query6)
    product_names = cursor.fetchmany(10)

#Se imprime la busqueda
print("El total de las unidades vendidas por producto:\n")
for product_name in product_names:
    print(product_name['productName'],"-->",product_name['units'] , sep=('  '))

El total de las unidades vendidas por producto:

1992 Ferrari 360 Spider red  -->  1808
1937 Lincoln Berline  -->  1111
American Airlines: MD-11S  -->  1085
1941 Chevrolet Special Deluxe Cabriolet  -->  1076
1930 Buick Marquette Phaeton  -->  1074
1940s Ford truck  -->  1061
1969 Harley Davidson Ultimate Chopper  -->  1057
1957 Chevy Pickup  -->  1056
1964 Mercedes Tour Bus  -->  1053
1956 Porsche 356A Coupe  -->  1052

---

7. Por medio de SQLAlchemy, define la tabla `orders` definida dentro de `nabla_python`

```
+----------------+-------------+------+-----+---------+-------+
| Field          | Type        | Null | Key | Default | Extra |
+----------------+-------------+------+-----+---------+-------+
| orderNumber    | int(11)     | NO   | PRI | NULL    |       |
| orderDate      | date        | NO   |     | NULL    |       |
| requiredDate   | date        | NO   |     | NULL    |       |
| shippedDate    | date        | YES  |     | NULL    |       |
| status         | varchar(15) | NO   |     | NULL    |       |
| comments       | text        | YES  |     | NULL    |       |
| customerNumber | int(11)     | NO   | MUL | NULL    |       |
+----------------+-------------+------+-----+---------+-------+
```

In [19]:
#Se busca la base de datos
from sqlalchemy import create_engine
engstr = f"mysql+pymysql://nabla123:{'maquina271'}@db4free.net:3306/nabla_python"
engine = create_engine(engstr)
engine

Engine(mysql+pymysql://nabla123:***@db4free.net:3306/nabla_python)

In [20]:
#Se conecta la base de datos
conn = engine.connect()

In [21]:
#Se declara la estructura de la tabla como una clase 
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, DateTime

Base = declarative_base()

class Order(Base):
    __tablename__ = "orders"
    orderNumber = Column(Integer, primary_key=True)
    orderDate = Column(DateTime)
    requiredDate = Column(DateTime)
    shippedDate = Column(DateTime,index=True)
    status = Column(String(15))
    comments = Column(String, index=True)
    customerNumber = Column(Integer, index=True)

In [22]:
from sqlalchemy.orm import sessionmaker
#Se realiza la conección con la base de datos y ejecuta el query para regresar la información 
engine = create_engine(engstr)
Session = sessionmaker(bind=engine)
sess = Session()

#Se imprime la información 
for instance in sess.query(Order).limit(10):
    print(instance.orderDate)

2003-01-06
2003-01-09
2003-01-10
2003-01-29
2003-01-31
2003-02-11
2003-02-17
2003-02-24
2003-03-03
2003-03-10

----

8. Por medio de SQLAlchemy, define la tabla `orderdetails` definida dentro de `nabla_python`

```
+-----------------+---------------+------+-----+---------+-------+
| Field           | Type          | Null | Key | Default | Extra |
+-----------------+---------------+------+-----+---------+-------+
| orderNumber     | int(11)       | NO   | PRI | NULL    |       |
| productCode     | varchar(15)   | NO   | PRI | NULL    |       |
| quantityOrdered | int(11)       | NO   |     | NULL    |       |
| priceEach       | decimal(10,2) | NO   |     | NULL    |       |
| orderLineNumber | smallint(6)   | NO   |     | NULL    |       |
+-----------------+---------------+------+-----+---------+-------+
```

In [23]:
#Se realiza la conección a la base de datos
from sqlalchemy import create_engine
engstr = f"mysql+pymysql://nabla123:{'maquina271'}@db4free.net:3306/nabla_python"
engine = create_engine(engstr)
engine

Engine(mysql+pymysql://nabla123:***@db4free.net:3306/nabla_python)

In [24]:
conn = engine.connect()

In [25]:
#Se declara la estructura de la tabla como una clase 

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, DateTime, SmallInteger,Float

Base = declarative_base()

class OrderDetails(Base):
    __tablename__ = "orderdetails"
    orderNumber = Column(Integer, primary_key=True)
    productCode = Column(String(15), primary_key=True)
    quantityOrdered = Column(Integer)
    priceEach = Column(Float(10,2))
    orderLineNumber = Column(SmallInteger)

In [26]:
#Se realiza la conección con la base de datos y ejecuta el query para regresar la información 
from sqlalchemy.orm import sessionmaker

engine = create_engine(engstr)
Session = sessionmaker(bind=engine)
sess = Session()

#Se imprime la información
for instan in sess.query(OrderDetails).limit(10):
    print(instan.productCode)

S18_1749
S18_2248
S18_4409
S24_3969
S18_2325
S18_2795
S24_1937
S24_2022
S18_1342
S18_1367

---

9. Realiza una consulta a la base de datos `nabla_python` por medio de `sqlalchemy`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.

In [27]:
#Se realiza la conección con la base de datos y ejecuta el query para regresar la información 
from sqlalchemy.orm import sessionmaker

engine = create_engine(engstr)
Session = sessionmaker(bind=engine)
sess = Session()

#Se imprime la información
for instance in sess.query(Order.status).distinct():
    print(instance.status)

Shipped
Resolved
Cancelled
On Hold
Disputed
In Process